*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

/* colors and font-size */

:root{
	--primary-white:rgb(245, 245, 245);
	--secondary-white:rgb(233, 233, 233);
	--tercenary-white:rgb(196, 196, 196);
	--primary-black:rgb(32, 32, 32);
	--secondary-black: rgb(43, 43, 43);
	--tercenary-black:rgb(61, 61, 61);
	font-size: 10px;
}

body{
	background-color: var(--primary-white);
	color: var(--secondary-black);
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.6rem;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	justify-content: center;
}

/* keyframes */

@-webkit-keyframes entrance{
	from{
		visibility: hidden;
		opacity: 0;
		transform: translateY(-100px);
	}
	to{
		visibility: visible;
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes entrance {
	from{
		visibility: hidden;
		opacity: 0;
		transform: translateY(-100px);
	}
	to{
		visibility: visible;
		opacity: 1;
		transform: translateY(0px);
	}
}

@-webkit-keyframes slide-in-left {
	from{
		transform: translateX(-150px);
		opacity: 0;
		visibility: hidden;
	}
	to{
		transform: translateX(0px);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes slide-in-left {
	from{
		transform: translateX(-150px);
		opacity: 0;
		visibility: hidden;
	}
	to{
		transform: translateX(0px);
		opacity: 1;
		visibility: visible;
	}
}

header{
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 25px;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-100px);
	-webkit-animation: entrance 0.5s ease 0s 1 normal forwards;
	animation: entrance 0.5s ease 0s 1 normal forwards;
}

header> img{
	-webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
	margin-top: 115px;
}

header h1{
	font-size: 3.5rem;
	padding: 20px;
}

#icon-theme{
	position: relative;
	width: 100%;
	height:auto;
}

#icon-theme img{
	width:27.5px;
	height:27.5px;
	position: absolute;
	top: -7.5px;
	left: 2.5%;
	cursor: pointer;
}

.language-settings{
	position: absolute;
	top: 0;
	right:75px;
	cursor: default;	
}

.choose-language-block{
   user-select: none;
	max-width: 100%;
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.7rem;
}

#arrow-symbol{
	position: absolute;
	bottom: 0;
	user-select: none;
}

.container-language{
	visibility: hidden;
	opacity: 0;
	cursor:default;
	position: relative;
	top: 15px;
	border: 2.75px solid var(--primary-black);
	border-radius: 10px;
	max-width: 100%;
	height: 75px;
	background-color: var(--secondary-white);
}

.container-language-active{
   position: relative;
	visibility: visible;
	opacity: 1;
	cursor: pointer;
}

.drop-down-language{
	position: relative;
	display: inline-flex;
	justify-content: center;
	column-gap: 15px;
}

.sign-up{
   position: absolute;
   top: -13px;
	left: 128px;
	background-color: #ffffff;
	clip-path: polygon(50% 0, 100% 100%, 0 100%);
	width: 12.5px;
	height: 12.5px;
}

.flag-lg{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: 15px;
	margin-top: 10px;
	padding: 7.5px;
	border-radius: 20px;
}

.flag-lg:hover{
	background-color: rgb(165, 171, 172);
}

.flag-lg>img{
	width: 30px;
	height:30px;
}

main{
	margin-top: 15px;
	padding: 5px;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-100px);
	-webkit-animation: entrance 0.5s ease 0s 1 normal forwards;
	animation: entrance 0.5s ease 0s 1 normal forwards;
}

.container-input-text{
	padding: 2.5px;
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}

.container-input-text input[type=text]{
	outline: none;
	border: 1px solid gray;
	width: 50vw;
	height: 45px;
	border-radius: 20px;
	background-color: var(--primary-white);
	color: var(--secondary-black);
	padding: 15px;
	font-size: 1.6rem;
	text-align: left;
}

.container-search-result-theme-light{
	background-color: var(--secondary-white);
	border-left: 5px solid #0094D8;
	width: 80%;
	padding: 10px;
	margin:30px auto;
	-webkit-animation: slide-in-left 0.35s ease 0s 1 normal forwards;
	animation: slide-in-left 0.35s ease 0s 1 normal forwards;
}

.container-search-result-theme-black{
	background-color: var(--tercenary-black);
	border-left: 5px solid #ffe600;
	width: 80%;
	padding: 10px;
	margin:30px auto;
	-webkit-animation: slide-in-left 0.35s ease 0s 1 normal forwards;
	animation: slide-in-left 0.35s ease 0s 1 normal forwards;
}

.search-result-article{
	width: 100%;
	line-height: 30px;
}

.search-result-article span{
	font-size: 2.5rem;
	font-weight: 600;
}

.container-search-result-theme-black .search-result-article>a{
	text-decoration: none;
	color: var(--primary-white);
	vertical-align: baseline;
}

.container-search-result-theme-light .search-result-article>a{
	text-decoration: none;
	color: var(--primary-black);
	vertical-align: baseline;
}

.container-search-result-theme-black .search-result-article>a:hover,
.container-search-result-theme-light .search-result-article>a:hover{
	opacity: 0.5;
}

.summary{
	line-height: 2.5rem;
	text-align: justify;
	padding: 15px 0px;
}

@media screen and (max-width:900px) {

	.choose-language-block{
		left: 20px;
		font-size: 1.675rem;
	}

	#arrow-symbol{
		display: none;
	}

	.container-language{
		left: 45px;
	}
}

@media screen and (max-width:768px) {
   header{
      margin-top: 18px;
   }
   header h1 {
      padding: 5px;
   }
   header > img{
      margin-top: 85px;
   }
   #wikipedia-img{
      width: 70px;
      height: 65px;
   }

   main{
      margin-top: 5px;
   }

   .container-search-result-theme-light{
      margin:15px auto;
   }
   
   .container-search-result-theme-black{
      margin:15px auto;
   }
}

@media screen and (max-width:700px) {

	.choose-language-block{
		left: 50px;
	}

	.container-language{
		max-width: 100%;
		height: 50px;
		left: 45px;
	}
	.flag-lg{
		margin-top: 3.5px;
		padding: 5px;
	}
}